<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
  <link rel="stylesheet" href="./stylesheets/style.css">  
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>     



  <script src="https://www.gstatic.com/firebasejs/6.0.2/firebase-app.js"></script>
 
  <!-- <script src="https://www.gstatic.com/firebasejs/6.0.2/firebase-firestore.js"></script> -->
  <script src="https://www.gstatic.com/firebasejs/6.0.2/firebase-database.js"></script>

</head>
   <nav>
    <div class="allnavbar">
      <div id="top">
        <div id="iconname">
          <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="35" height="35" viewBox="0 0 50 50">
            <path stroke="#fff" d="M 14 4 C 8.4886661 4 4 8.4886661 4 14 L 4 36 C 4 41.511334 8.4886661 46 14 46 L 36 46 C 41.511334 46 46 41.511334 46 36 L 46 14 C 46 8.4886661 41.511334 4 36 4 L 14 4 z M 14 6 L 36 6 C 40.430666 6 44 9.5693339 44 14 L 44 36 C 44 40.430666 40.430666 44 36 44 L 14 44 C 9.5693339 44 6 40.430666 6 36 L 6 14 C 6 9.5693339 9.5693339 6 14 6 z M 25.515625 14 C 21.549174 14 18.120582 15.857659 16.591797 18.701172 C 13.203884 20.107233 11.072181 23.945403 12.417969 27.960938 C 13.061811 29.882024 14.485727 31.487235 16.349609 32.316406 C 18.364382 33.212561 20.275416 32.872337 21.945312 32.177734 L 22.328125 35.96875 A 1.0001 1.0001 0 0 0 24.138672 36.449219 L 27.699219 31.441406 C 29.601616 31.33758 31.140135 30.2342 32.119141 28.724609 C 32.155391 28.726109 32.154822 28.732422 32.195312 28.732422 C 35.388036 28.732422 37.998047 26.122411 37.998047 22.929688 C 37.999147 20.203485 36.072613 17.967944 33.525391 17.357422 C 31.731523 15.29478 28.819301 14 25.515625 14 z M 25.515625 16 C 28.406489 16 30.886695 17.19695 32.199219 18.833984 A 1.0001 1.0001 0 0 0 32.816406 19.195312 C 34.6229 19.492694 35.998842 21.03379 35.998047 22.927734 A 1.0001 1.0001 0 0 0 35.998047 22.929688 C 35.998047 25.040964 34.30659 26.732422 32.195312 26.732422 C 32.173642 26.732422 32.065413 26.712506 31.837891 26.691406 A 1.0001 1.0001 0 0 0 30.837891 27.267578 C 30.234188 28.575732 28.930163 29.486328 27.392578 29.486328 C 27.471418 29.486328 27.420838 29.475374 27.220703 29.464844 A 1.0001 1.0001 0 0 0 26.353516 29.884766 L 24.050781 33.121094 L 23.806641 30.707031 A 1.0001 1.0001 0 0 0 22.271484 29.966797 C 20.829026 30.895527 19.0601 31.332492 17.162109 30.488281 C 15.833992 29.897452 14.78061 28.717085 14.314453 27.326172 C 13.245779 24.137483 14.974564 21.296673 17.607422 20.380859 A 1.0001 1.0001 0 0 0 18.183594 19.863281 C 19.189228 17.726365 22.044704 16 25.515625 16 z"></path>
            </svg>
          <h1 id="insta" > Dhaisogram </h1>

        </div>
        <div id="home" class="icon">
          <i class="ri-home-8-line"></i>
          <h2 >Home</h2>
        </div>
        <div id="searchicon" class="icon">
          <i class="ri-search-2-line"></i>
          <h2 id="search"> Search</h2>
        </div>
        <div id="explore" class="icon">
          <img src="/images/icons8-explore-24.png" alt="">
          <h2> Explore </h2>

        </div>
        <div id="inbox" class="icon">
          <i class="ri-chat-1-line"></i>
          <h2 > Message </h2>
        </div>
        <div class="icon">
          <i class="ri-heart-line"></i>
          <h2>  Notification </h2>
        </div>
        <div id="createicon" class="icon">
          <i class="ri-add-box-line"></i>
          <h2> Create </h2>

        </div>
        <div id="icon" class="icon profile">
          <div class="goprofile"><img src="" alt=""></div>
          <h2> Profile</h2>
        </div>
     
     </div>
     <div id="bottom">
      <div class="iconlog">
        <div id="logout">
          <h3 >
          Log out
          </h3>
        </div>
         <i id="more" class="ri-menu-line"></i> <h6>More</h6>
         <!-- <a href="/logout/:id">Log out</a> -->


      </div>

     </div>
     </div>

    <div id="searchbar">

      <div class="inputserch"> 
        <h1>Search</h1>
        <input type="text" id="serach-box" onkeyup="sendData(this)" placeholder="Search" >
       </div>
      <div id="bottomsearch">
        
      </div>
    </div>
   </nav>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
    const exploreDiv = document.getElementById('explore');
    const homediv = document.getElementById('home');
    const inboxdiv = document.getElementById('inbox');
    const profieldiv = document.querySelector('.profile');
    const logoutdiv = document.getElementById('logout');
    
    exploreDiv.addEventListener("click", () => {
        // Redirect to the /explore route
        window.location.href = '/explore';
    });
    homediv.addEventListener("click", () => {
        window.location.href = '/home';
    });
    inboxdiv.addEventListener("click", () => {
        window.location.href = '/inbox';
    });
    profieldiv.addEventListener("click", () => {
        window.location.href = '/profile';
    });
    
    logoutdiv.addEventListener("click", () => {
        window.location.href = '/logout/:id';
    });
});



  </script>