<%include ./partials/navbar.ejs%>
    


    <form id="file-posts" action="/postsupload" method="post" enctype="multipart/form-data">
      <input id="file" type="file" name="posts"><br>
      <input type="submit">
      
  </form>
   
  <script>
    
    // document.querySelector("#stori").addEventListener("click",function(){
    //     document.querySelector("#postsfile").click();
    // })
    
    // document.querySelector("#postsfile").addEventListener("change",function(){
    //     document.querySelector("#file-posts").submit();
    // })
    </script>


</body>
</html>