<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./stylesheets/style.css">
    <title>Dhaisogram</title>
  </head>
  <body>
    <div class="login-info-container">
  <div id="form-container">
          <div id="h1tag">
        <h1>Dhaisogram</h1>
  
        <span>Sign up to see photos and videos from your friends.</span>
           </div>
  
          <div class="orline">
              <div class="line-div"></div>
              OR  
              <div class="line-div"></div>
            </div>  
        <form action="/register" method="post" >
          
        <div class="lebelinput">
          <input name="email" type="email" placeholder="Email address">
        </div>
        
        <div class="lebelinput">
          <input name="name" type="name" placeholder="Full Name">
        </div>
    
        <div class="lebelinput">
          <input name="username" type="text" placeholder="UserName">
        </div>
    
        <div class="lebelinput">
          <input name="password" type="password" placeholder="Password" >
        </div>
        <div class="lern-more">
          <span>People who use our service may have uploaded your contact information to Instagram. Learn More</span>
          <br> <br>
          <span>
            By signing up, you agree to our Terms , Privacy Policy and Cookies Policy .
          </span>
          <button type="submit" class="btn btn-primary">Sign up</button>
        </div>
        </form>
        
        
      </div>
      
            <div id="login">
              <h4>Have an account? <a href="/login">Login</a> </h4>
            </div>
  
    </div>     


  </body>
</html>